<!DOCTYPE html>
<html lang="PT-BR" >
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

	<h1>
		Atebdendo senha:<br>  <%= user.atendendo.num %> 
	</h1>

		<p>Estado: <%= user.atendendo.estado %></p>
		<p>chamada por: <%= user.username %></p>


<div class"<%= user.atendendo.estado %>senha</div>
<hr>
<a href="/finalizar/id/<%= user.atendendo.id %>">atender: <%= senha.num %></button>
|| 
<a href="/todas">todas</button>

</body>
</html>
